@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background: #111;
  transition: 0.6%;
}
.banner.active {
  right: 300px;
  transition: 0.6%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1000;
}

header .logo {
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(assets/image/menu.png) 30px center no-repeat;
  cursor: pointer;
}
.toggle.active {
  background: url(assets/image/close.png) 25px center no-repeat;
  cursor: pointer;
}

section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #00f, #f00);
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 6rem;
  font-weight: 800;

  color: #ffffff;
  text-transform: uppercase;
}

.text h3 {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1rem;
}

.text p {
  position: relative;
  font-size: 1.1rem;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  color: #ffffff;
}

.text a {
  display: inline-block;
  font-size: 1.1rem;
  background: #ffffff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;

  color: #111111;

  letter-spacing: 2px;
}

.sci {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
}

.menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222222;
}

.menu ul {
  position: relative;
}
.menu ul li {
  position: relative;
  list-style: none;
  text-align: center;
}
.menu ul li a {
  text-decoration: none;
  font-size: 21px;
  color: #eeeeee;
}

/* --------------------------- */

@media (max-width: 991px;) {
  section,
  section header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3rem;
  }
  .text h3 {
    font-size: 2rem;
  }
}
